@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary: #000000;
  --primary-light: #159957;
  --primary-x-light: #fae6b3;
  --primary-dark: #e6a500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  height: 37rem;
  width: 40rem;
  /* background: linear-gradient(
    178.63deg,
    var(--primary),
    rgba(230, 191, 92, 0) 108.92%
  ); */
  background-color: rgb(33, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.upper {
  flex-grow: 1;
  padding: 2rem 3rem;
  color: white;
}

.upper h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#password {
  width: 100%;
  height: 4rem;
  background-color: var(--primary-x-light);
  margin-bottom: 2rem;
  color: red;
  font-weight: 800;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: copy;
}

.range_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.checkboxes {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form_control {
  display: flex;
  justify-content: space-between;
}

.form_control label {
  font-size: 1.4rem;
  letter-spacing: 0.3px;
}

/* For all Range Slider */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 0.5rem;
  padding: 0;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2rem;
  width: 1rem;
  background-color: red;
  border: 1px solid black;
}

input[type="checkbox"] {
  accent-color: red;
}

#genBtn {
  background: var(--primary-light);
  border: none;
  padding: 1rem 0;
  font-size: 1.8rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#genBtn:active {
  background: var(--primary-dark);
  color: white;
  transition: 0.3s ease-in-out;
  cursor: crosshair;
}

@media (max-width: 425px) {
  .box {
    width: 100%;
    height: 100vh;
  }
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.main{
  background: #2c3e50
}
#yemen{
  background-color: #0F2027;
}